/* general */
.html {
    scroll-behavior: smooth;
}

.overlay {
    position: absolute;
    z-index: 10;
    background-color: rgb(0 0 0/ 0.6);
    top: 0;
    left: 0;
    width: 100%;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-style: normal;
    gap: 3px;
    font-size: 18px;
    text-underline-offset: 4px;
    line-height: 22px;
}

.list-item-active{
    list-style-type: none;
}
.list-item-inactive {
    list-style-type: circle;

}
.list-item-active a {
    text-decoration: none;
}

/* header */
header {
    max-width: 1440px;
    min-height: 293px;
    padding-left: 51px;
    padding-right: 51px;
    padding-bottom: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* header menu */
.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    flex-grow: 1;
    width: 30%;
}

.header-links-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row
}

.header-links-list li {
    text-underline-offset: 4px;
    padding-right: 32px;
}


.header-links-list li :not(:last-child) {
    padding-right: 0;
}


/* header logo*/
.header-logo a {
    display: block;
    width: 136px;
}

.header-logo {
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 2px;
}

/* header-contacts*/
.address-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
    text-underline-offset: 4px;
    line-height: 24px;
    flex-grow: 1;
    width: 30%;
}

.header-address {
    width: 237px;
}

/* cover */
.cover {
    max-width: 1440px;
    min-height: 757px;
    color: white;
    box-sizing: border-box;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay-cover {
    height: 100%;
}

.cover-title {
    padding: 164px 20px 120px 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cover-title h1 {
    text-transform: uppercase;
    min-height: 370px;
    font-size: 100px;
    display: flex;
    flex-direction: row;
    z-index: 11;
}

.cover-title-left {
    align-items: flex-start;
}

.cover-title-center {
    align-items: center;
}

.cover-title-right {
    align-items: flex-end;
    padding-left: 45px;
    padding-bottom: 5px;
}

.accent-span {
    display: block;
    letter-spacing: 0.3em;
}

.accent-span-long {
    letter-spacing: 0.6em;
}

.cover-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    word-spacing: 17px;
    padding-right: 50px;
    gap: 78px;
}

.cover-description p {
    height: auto;
    font-size: 22px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 11;
    text-transform: uppercase;
}

.cover-description p span {
    word-spacing: 22px;
}

.bet-button {
    min-height: 52px;
    width: 257px;
    font-size: 22px;
    background-color: transparent;
    border: 1px solid currentColor;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    z-index: 11;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
}

/*lots*/
.lots {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    min-height: 752px;
    padding-top: 180px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: flex-start;
    gap: 27px;
}

.lots-heading {
    font-size: 40px;
    font-weight: bold;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.lots-card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-size: 20px;
    white-space: normal;
}

.lots-card-list li {
    background-size: cover;
    background-position: center;
    padding: 51px 40px 50px 40px;
    width: 430px;
    min-height: 450px;
    list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lots-card-list a {
    text-underline-offset: 3px;
}

.lots-card-list h4 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    z-index: 11;
}

.lots-card-list p {
    line-height: 24px;
    z-index: 11;
}

.lots-card-list-film {
    background-image: url('../images/card-lot-01.jpg');
}

.lots-card-list-book {
    background-image: url('../images/card-lot-02.jpg');
}

.lots-card-list-picture {
    background-image: url('../images/card-lot-03.jpg');
}

.lots-look-more-link {
    padding-top: 3px;
}

.lots-look-more-link a {
    color: black;
    font-size: 20px;
    padding-left: 40px;
    text-transform: lowercase;
    font-weight: normal;
    text-underline-offset: 4px;
}

/*about*/
.about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1440px;
    min-height: 487px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 183px;
}

.about-left {
    padding-left: 93px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-left-image {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    background-image: url("../images/logo-white.svg");
    background-size: 148px 114px;
    background-repeat: no-repeat;
    background-position: center;
}

.about-right {
    flex-grow: 1;
    display: flex;
    padding-top: 100px;
    padding-left: 121px;
    flex-direction: column;
    justify-content: flex-end;
}

.about-right-title {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 99px;
}

.about-right-text {
    display: flex;
    flex-direction: column;
    gap: 29px;
    font-size: 20px;
}

/*footer*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 180px 40px;
}

.footer-address-bottom {
    width: 300px;
    padding-top: 5px;
    padding-left: 9px;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 388px;
    font-size: 18px;
    padding-top: 4px;
}

.footer-menu-list {
    max-width: 149px;
    min-height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-menu-list li {
    list-style-type: none;
}

.footer-social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding-top: 4px;
    padding-left: 50px;
    padding-right: 10px;
}

.footer-social-icon {
    display: flex;
    width: 47px;
    height: 47px;
    justify-content: center;
    flex-direction: row;
}

.footer-social-icon-yt {
    background-image: url("../images/yt.svg");
}

.footer-social-icon-vk {
    background-image: url("../images/vk.svg");
}

.footer-social-icon-p {
    background-image: url("../images/pinterest.svg");
}
